<div>
<img src="/images/carlos-bello-pauste_120x120.jpg">
<p>
    Carlos Bello Pauste <br />
    <a href="https://www.linkedin.com/in/carlosbello">www.linkedin.com/in/carlosbello</a>
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ISgLJh5k0hk" frameborder="0" allowfullscreen></iframe>
</div>